#notfound h3 .word {
    color: #aaa;
    font-weight: 200;
  }
  #notfound .addword .word,
  #spellcheck .addword .word {
      font-weight: 500;
  }
  #wordbox .word, #magicword .word {
    border: none;
  }
  #wordbox .word h1,
  #wordbox .word h3,
  #magicword .word h1,
  #magicword .word h3 {
    display: inline-block;
  }
  #wordbox .word h3,#magicword .word h3{
    color: #aaa;
    font-size: 18px;
  }
  #wordbox .word h1,#magicword .word h1 {
    font-size: 25px;
    margin-bottom: 5px;
    line-height: 30px;
  }

  #wordbox section .content,#magicword section .content {
    overflow: hidden;
  }
  #wordbox .verb span, #magicword .verb span {
    width: 75px;
    display: inline-block;
  }
  #wordbox .dictionary p {
    padding-top: 5px;
  }
  #wordbox .more{
    padding-top: 5px;
    border-top: 1px solid #f1f1f1;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 14px;
    background: #fafafa;
    cursor: pointer;
  }
  #wordbox .more:hover{
    background: #fdfdfd;
  }
  #wordbox .more span{
    display: block;
  text-align: center;
  font-size: 21px;
  margin-top: -4px;
  padding-bottom: 1px;
  }
  #wordbox {
      border-radius: 4px;
      border: 2px solid #f1f1f1;
      margin-bottom: 10px;
  }
  #wordbox section, #magicword section {
      padding: 19px 15px;
      border-top: 1px solid #f1f1f1;
  }
  #wordbox .mean h3,#magicword .mean h3 {
      font-size: 18px;
      color: #777;
      margin-right: 5px;
  }
  #wordbox .mean h2,#magicword .mean h2 {
      color: #aaa;
      margin-top: 10px;
      font-size: 14px;
  }
  #wordbox .mean h2:empty,#magicword .mean h2:empty {
      display: none;
  }
  #wordbox section header h4,#magicword section header h4 {
      border-radius: 2px;
      float: left;
      font-size: 14px;
      margin-top: -33px;
      display: inline-block;
      background-color: #f1f1f1;
      padding: 5px;
      color: #797979;
      width: 95px;
      text-align: center;
      cursor: pointer;
      font-weight: 200;
      line-height: 16px;
  }
  #wordbox section header h4:hover,
  #wordbox section header h4.closed,#magicword section header h4:hover,
  #magicword section header h4.closed  {
      color: #fff;
      background: #bbb;
  }

  .gray {
    color: #999;
}


/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
  html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*TODO: bold searched in text */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Main styles */

html,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: tahoma;
    font-family: IRANSans, tahoma;
    font-weight: 300;
    color: #333;
}
*:focus {
    outline: none;
}
* {
    outline: none;
    direction: rtl !important;
    text-align: right;
}
html,
body {
    direction: rtl !important;
}
body {
    padding-bottom: 50px;
    line-height: 25px;
    overflow-x: hidden;
}
strong {
    font-weight: 500;
}
b {
    font-weight: 500;
}

